    <div>
        <label for="username">Name</label>
        
        <input [(ngModel)]="username" placeholder="inserire username" name="username" required>
      </div>
  
      <div>
        <label for="password">Password</label>
        
        <input  [(ngModel)]="password" type="password" placeholder="inserire password" name="password" required>
      </div>
   
      <div> 

          <button type="submit" class="btn btn-success" id="bottoneLogin">LogIn</button>
        </div>
  
  

       







